server:
  servlet:
    context-path: /myzoo
  error:
    whitelabel:
      enabled: false
    path: /error
## MySQL datasource 配置
spring:
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB

  datasource:
    url: jdbc:mysql://localhost:3306/zoo?useSSL=false&serverTimezone=GMT%2B8
    username: keng
    password: chu
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    open-in-view: true

## Thymeleaf 配置
  thymeleaf:
    cache: false
    encoding: UTF-8
    mode: HTML
    prefix: classpath:/templates/

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.web.ErrorMvcAutoConfiguration

## Mail 配置
  mail:
    host: smtp.gmail.com
    port: 587
    username: pox810324@gmail.com
    password: eqbqgqnhpnoyuqro
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

## Spring Session
  session:
    store-type: redis
    timeout: 1800
    redis:
      flush-mode: on-save

## Redis
  redis:
    host: localhost
    port: 6379
    database: 0
    timeout: 0
