.logo {
    position: relative;
    left: 20px;
}

.ui-accordion .ui-accordion-content {
    padding: 1em 1em;
}

.jumbotron {
  box-shadow:0px 3px #dee2e6;
  padding: 1rem 1rem;
  background-color: white;
}

.ui-state-active {
    background: #ea7351
}


#preview {
    width: 200px;
    height: 200px;
}

#userPicture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.fa-line {
    color:#00ba01;
}

.fa-instagram {
    color:#d5005a;
}

button[data-toggle="popover"] {
    border: none;
}

button[data-toggle="popover"]:focus {
    outline:0;
}

.top {
    margin-bottom: 2vh;
}