<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf-Demo</title>
    <link th:href="@{/pet/myPets.css}" rel="stylesheet" />
    <script th:src="@{/pet/myPets.js}" type="text/javascript"></script>
</head>
<body>
    <h3 class="text-center">動物列表<span th:text="| - 共 ${petVoList.size} 隻|">寵物個數</span></h3>
    <table class="table">
        <tr>
            <th>索引</th>
            <th>寵物名字</th>
            <th>寵物性別</th>
            <th>生日</th>
        </tr>
        <tr th:each="petVo,iter : ${petVoList}">
            <td th:text="${iter.count}">索引</td>
            <td th:text="${petVo.name}">寵物名字</td>
            <td th:text="${petVo.gender}">寵物性別</td>
            <td th:text="${petVo.birthday}">生日</td>
        </tr>
    </table>
</body>
</html>